apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "web-app-charts.fullname" . }}-db
spec:
  serviceName: {{ include "web-app-charts.fullname" . }}-db-svc
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: "{{ .Values.postgresql.image.repository }}:{{ .Values.postgresql.image.tag }}"
        env:
        - name: POSTGRES_DB
          value: {{ .Values.postgresql.auth.database | quote }}
        - name: POSTGRES_USER
          value: {{ .Values.postgresql.auth.user | quote }}
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ include "web-app-charts.fullname" . }}-db-secret
              key: DB_PASSWORD
        ports:
        - containerPort: 5432
          name: postgres

        volumeMounts:
        - name: db-data
          mountPath: /var/lib/postgresql/data
        readinessProbe:
          exec:
            command: ["pg_isready", "-U", "{{ .Values.postgresql.auth.user }}"]
          initialDelaySeconds: 5
          periodSeconds: 10

  volumes:
    - name: db-data
      emptyDir: { }